.lsp
.cpcache
.nrepl-port
.calva
.data
.clj-kondo/*/**
.eastwood
demo/data/nippy
demo/.clj-kondo
demo/data/datahike
demo/classes
demo/.calva
demo-studio/.gorilla/
demo-studio/.reval/
demo-studio/.shadow-cljs
demo-studio/node_modules/
demo-studio/.flowy/
demo-studio/package.json
demo-studio/package-lock.json
demo-studio/karma.conf.js
demo-studio/shadow-cljs.edn
demo-studio/classes