{:alphavantage ""
 :eodhd ""
 :quandl ""
 :kibot {:user ""
         :password  ""}
 :telegram {:name ""
            :token ""}
 :bybit/florian {:api-key ""
                 :api-secret ""}
 :bybit/rene {:api-key ""
              :api-secret ""}

 :bybit/rene2 {:api-key ""
               :api-secret ""}

 :bybit/rene3 {:api-key ""
               :api-secret ""}

 :bybit/rene4 {:api-key ""
               :api-secret ""}

 :token {:local {:client-secret ""}
         :oauth2 {:google {:client-id ""
                           :client-secret ""}
                  :github {:client-id        ""
                           :client-secret    ""}
                  :xero {:client-id ""
                         :client-secret ""}}}}