{:paths ["src" "resources"]
 :deps {org.pinkgorilla/modular {:mvn/version "0.3.73"}  ; modular.writer
        org.pinkgorilla/timbre {:mvn/version "0.0.8"} ; timbre config
        io.github.clojure-quant/quanta-market {:local/root "../" :deps/manifest :deps}}

 :aliases
 {:eastwood
  {:main-opts ["-m"
               "eastwood.lint"
                     ;; Any Eastwood options can be passed here as edn:
               {}]
   :extra-deps {jonase/eastwood {:mvn/version "1.4.3"}}}
  
  :nrepl {:main-opts  ["-m" "nrepl.cmdline" "--port" "7888"]
          :extra-deps {nrepl/nrepl {:mvn/version,"1.5.1"}
                       cider/cider-nrepl {:mvn/version,"0.58.0"}}}
  
  }}

